  <!-- Subscribe Form Starts Here -->
  <div class="subscribe-form">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h3 class="subscribe-helement">SUBSCRIBE NOW</h3>
          </div>
        </div>
        <div class="col-md-8 offset-md-2">
          <div class="main-content">
            <p>For release updates, exclusive videos, and free downloads join the mailing list</p>
            <div class="container">
              <form id="subscribe" action="/signup" method="POST">
                  <div class="col">
                    <fieldset>
                        <div class="input-group-prepend">
                          <input type="text" name="firstName" id="first-name" class="form-control" placeholder="First Name" required>
                          <input type="text" name="lastName" id="last-name" class="form-control" placeholder="Last Name" required>
                        </div>
                      <input name="email" type="email" class="form-control" id="subscriptionemail"
                      onfocus="if(this.value == 'Your Email...') { this.value = ''; }"
                  	  onBlur="if(this.value == '') { this.value = 'Your Email...';}"
                  	  value="Your Email..." required="">
                      <button type="submit" id="form-submit" class="button">Subscribe Now</button>
                    </fieldset>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Subscribe Form Ends Here -->
<footer id="newfooter">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
                <div class="col-md-12">
                        <div class="footer-menu">
                            <ul>
                            <li><a href="/privacy">Privacy Policy</a></li>
                            <li><a href="/terms">Terms and Conditions</a></li>
                            <li><a href="/returns">Returns and Refunds Policy</a></li>
                            <li><a href="/sitemap">Sitemap</a></li>
                            </ul>
                        </div>
                        <div class="footer-logo">
                            <ul>
                            <li class="footer-images"><a href=https://www.instagram.com/mo.hwa/ target="_blank"><img src=../../images/socialmediaicons/instawhite.png width="45" height="45" alt=Instagram></a></li>
                            <li class="footer-images"><a href=https://www.youtube.com/channel/UCiEFin1KR5MN467s_MVCGDg/ target="_blank"><img src=../../images/youtube/yt_icon_mono_dark.png height="45" alt=YouTube></a> </li>
                            <li class="footer-images"><a href=https://ko-fi.com/mohwa/ target="_blank"><img src="../../images/socialmediaicons/Ko-fi_Logo_RGB_ColorBg.png" height="45" alt="Ko-fi"></a></li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- Footer Ends Here -->
<!-- Sub Footer Starts Here -->
    <div class="sub-footer">
      <div class="copyright-text">
        <div class="text-center small tm-footer">
        <p class="mb-0">Copyright &copy; 2021 MOHWA</p>
        </div>
      </div>
    </div>
    <!-- Sub Footer Ends Here -->
</footer>