<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW VISUAL</title>
</head>
<body>
    <Section id="blogpage">
        <div class="container">
            <h1 class="mb-4">New Visual</h1>
            <form action="/visuals" method="POST" enctype="multipart/form-data">
                <%- include('_form_fields') %>
            </form>
        </div>
    </Section>
</body>