<head>
  <title>mohwa</title>
</head>
<body>
  <header id="header">
    <div class="container-fluid">
      <div class="welcome" id="welcome">
        <a><i class="fas fa-user"></i> hi <%= name %> </a>
      </div>
      <ul class="header-menu">
        <div class="header-right d-md-block">
            <li class="header-item mySlides"><a href="../blog">Blog</a></li>
            <li class="header-item mySlides"><a href="../visuals">Visuals</a></li>
            <li class="header-item mySlides"><a href="/contact">Contact</a></li>
            <li class="header-item mySlides"><%- code %></li>
        </div>
        <a class="prev d-md-none" onclick="plusSlides(-1)" role="button"><i class="fas fa-arrow-alt-circle-left"></i></a>
        <a class="next buttonRight d-md-none" onclick="plusSlides(1)" role="button"><i class="fas fa-arrow-alt-circle-right"></i></a>
      </ul>
    </div>
  </header>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">
    <div class="container-fluid">
      <a href="#HOME"><button accesskey="h" class="homebutton">
          <img src="images/logo.png" class="img-fluid logo-image logo-image-opacity" alt="MOHWA logo">
      </button></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars navbar-toggler-icon"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item nav-hide">
              <a class="nav-link tm-nav-link" href="#HOME">HOME</a>
          </li>
          <li class="nav-item">
              <a class="nav-link tm-nav-link" href="#ABOUT">DISCOVER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#MUSIC">MUSIC <i class="fas fa-music"></i></a>
          </li>
          <li class="nav-item">
                <a class="nav-link tm-nav-link" href="#GALLERY">GALLERY</a>
          </li>
            <li class="nav-item">
              <a class="nav-link tm-nav-link" href="#SHOP">SHOP</a>
          </li>
          <li class="nav-item">
            <div class="dropdown">
                <a class="nav-link tm-nav-link navheader" href="">MORE <i class="fas fa-angle-down"></i></a>
                  <div class="dropdown-content">
                    <a id="archives" class="dropdown-button">
                      UPDATES <i class="fas fa-newspaper"></i>
                    </a>
                    <script>
                      document.getElementById("archives").onclick = function () {
                      location.href = "/comingsoon.html";
                      };
                    </script>
                    <a id="tour" class="dropdown-button">TOUR</a>
                    <script>
                      document.getElementById("tour").onclick = function () {
                      location.href = "/comingsoon.html";
                      };
                    </script>
                  </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Hero section -->
  <section id="HOME" class="text-white tm-font-big">
    <div class="text-center tm-hero-text-container">
      <div class="tm-hero-text-container-inner animate__animated animate__zoomInLeft">
          <img class="headerlogo" src="images/logo.png"></img>
            <h1 class="tm-hero-title">MOHWA</h1>
      </div>
    </div>
    <div class="tm-next tm-intro-next">
      <a href="#ABOUT" class="text-center tm-down-arrow-link">
        <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
      </a>
    </div>
  </section>

  <section id="ABOUT" class="tm-section-pad-top">
    <div class="aboutcontainer">
      <div class="tm-content-box"><!-- first row -->
        <br>
        <h2 class="tm-text-primary text-center mb-4 tm-section-title1">DISCOVER</h2>
          <article class="tm-intro-text">
            <hr>
            <h3 class="tm-intro-text-center"><b>|classically trained|clean and raw|guitar instrumentals|</b></h3><hr>
            <p>MOHWA only needs his magical fingers to revitalize your mind and enable you to experience an intricate mix of new sensations and nostalgic emotions. His beautiful tremolo will make you reminisce your fondest memories, his powerful flamenco strums will give you heart palpitations and the tone of his guitar will give you a warm fuzzy feeling that intensifies until climax is reached.
            </p>
            <hr>
            <h3 class="tm-intro-text-center"><b>Sydney based guitarist and ***pharmacist*** (BPharm)</b></h3>
            <hr>
            <p><b>Gear I use:</b></p>
            <ul>
              <li>Cordoba Fusion Series Orchestra CE Guitar</li>
              <li>Fishman Loudbox Mini Charge</li>
              <li>De Gregorio Cajon</li>
              <li>DW Cajon Drum Pedal</li>
            </ul>
            <hr>
            <h3 class="tm-intro-text-center">#fingerstyle #classical #acoustic #기타연주 #핑거스타일 #기타스타그램 #일상 #음악 #음스타그램 #기타</h3>
            <hr>
          </article>
        </div><!-- first row -->
      </div>
    <div class="aboutcontainer">
          <div class="row tm-content-box2"><!-- second row -->
          <div class="col-lg-1"></div>
              <div class="col-lg-5">
                  <article class="tm-intro-text-container">
                      <h3 class="tm-text-primary mb-4 text-center">CATCH ME BUSKING AT:</h3>
                    <div class="container">
                      <table class=table1 style="width:100%">
                        <tr>
                          <th>DATE</th>
                          <th>LOCATION</th>
                        </tr>
                        <tr>
                          <td><s><time datetime="2021-01-05">05<sup>th</sup> JAN 2021</time></s></td>
                          <td>TOWN HALL, SYDNEY</td>
                        </tr>
                      </table>
                      <br>
                    </div>
                  </article>
              </div>
            <div class="col-lg-5">
              <h3 class="tm-text-primary mb-4 text-center">SOCIAL MEDIA</h3>
                <article class="tm-intro-text2">
                  <ul>
                    <li class="socialmediaicons"><a href=https://ko-fi.com/mohwa/ target="_blank"><img src=images/socialmediaicons/BuyMeACoffee_dark@2x.png height="45" alt=Ko-fi></a></li>
                    <li class="socialmediaicons"><a href=https://www.youtube.com/channel/UCiEFin1KR5MN467s_MVCGDg/ target="_blank"><img src=images/youtube/yt_icon_mono_dark.png height="45" alt=YouTube></a></li>
                    <li class="socialmediaicons"><a href=https://www.instagram.com/mo.hwa/ target="_blank"><img src=images/socialmediaicons/instawhite.png width="45" height="45" alt=Instagram></a></li>
                  </ul>
                </article>
              </div>
          </div>
        </div><!-- second row -->
      <!-- back to HOME arrow -->
  </section>

  <section id="MUSIC" class="tm-section-pad-top">
    <div class="container tm-testimonials-content">
      <div class="row">
        <div class="col-lg-12 tm-content-box">
          <br>
          <h2 class="text-white text-center mb-4">music</h2>
          <p class="mx-auto tm-section-desc text-center">
              Listen to Mohwa on: <a><img src=images/socialmediaicons/whitespotifyicon.png height="20" alt="spotifyicon"></a>
              <a><img src=images/youtube/yt_icon_mono_dark.png height="20" alt=YouTube></a> 
              <a><img src="images/socialmediaicons/Apple_Music_Icon_wht.png" height="20" alt="applemusicicon"></a>
              <a><img src="images/socialmediaicons/amazon-music.png" height="20"></a>
            </p>
            <div class="tm-testimonials-carousel">
              <figure class="tm-gallery-item">
                <iframe class="musicplayer" src="https://open.spotify.com/embed/album/7Mqn4hqvrsIovz7Cy0faiF" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>                
              </figure>
              <figure class="tm-gallery-item">
                <iframe class="musicplayer" src="https://www.youtube-nocookie.com/embed/videoseries?list=OLAK5uy_nmMaHs8JRsVSXhvH93x4lHebXNY7e9vqw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </figure>
              <figure class="tm-gallery-item">
                <iframe class="musicplayer" allow="autoplay *; encrypted-media *;" frameborder="0" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/au/album/read-her-face-ep/1536795642"></iframe>
              </figure>
              <figure class="tm-gallery-item">
                <iframe class="musicplayer" id='AmazonMusicEmbedB08LMCY5S2' src='https://music.amazon.com/embed/B08LMCY5S2/?id=6vG3a1sL7i&marketplaceId=ATVPDKIKX0DER&musicTerritory=US'></iframe>
              </figure>
            </div>
          </div>
      </div>
    </div>
    <div class="tm-bg-overlay"></div>
  </section>

  <!-- GALLERY -->
  <section id="GALLERY" class="tm-section-pad-top" oncontextmenu="return false">
    <div class="container tm-container-gallery">
      <div class="row">
        <div class="text-center col-12 tm-content-box" id="DISCOGRAPHY">
          <br>
          <h2 class="text-center mb-4">GALLERY</h2>
          <h3>DISCOGRAPHY</h3>
            <div class="link_bar">
              <p class="mx-auto tm-section-desc text-center">Hover over an album cover artwork to see its tracklist</p>
              <p class="mx-auto tm-section-desc text-center"><a href='/credits'>Artwork credits <i class="fas fa-external-link-alt"></i></a></p>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <div class="mx-auto tm-gallery-container">
                <div class="grid tm-gallery">
                    <a href="https://res.cloudinary.com/mohwa/image/upload/v1608464062/albumcovers/readherface_zwdapu.png">
                      <figure class="effect-honey tm-gallery-item">
                        <img src="https://res.cloudinary.com/mohwa/image/upload/v1608464062/albumcovers/readherface_zwdapu.png" alt="read her face. album" class="img-fluid mx-auto">
                        <figcaption>
                          <div class="discographylist">
                            <ol>
                              <li>Flawed</li>
                              <li>Unleashed</li>
                              <li>Distorted</li>
                              <li>Masked</li>
                            </ol><span>read her face. EP (2020)</span>
                          </div>
                        </figcaption>
                    </figure>
                    </a>
                    <a href="https://res.cloudinary.com/mohwa/image/upload/v1608464712/albumcovers/shegrowsdrugs_mdb8te.jpg">
                      <figure class="effect-honey tm-gallery-item">
                          <img src="https://res.cloudinary.com/mohwa/image/upload/v1608464712/albumcovers/shegrowsdrugs_mdb8te.jpg" alt="she grows drugs. album" class="img-fluid mx-auto">
                          <figcaption>
                            <div class="discographylist">
                              <ol>
                                <li>Opium Poppies</li>
                                <li>Ephedra</li>
                                <li>Belladonna</li>
                                <li>Shrooms</li>
                              </ol><span>she grows drugs. EP (coming 2021)</span>
                            </div>
                          </figcaption>
                        </figure>
                    </a>
                    <a href="https://res.cloudinary.com/mohwa/image/upload/v1608464014/albumcovers/prodigal_z70has.png">
                      <figure class="effect-honey tm-gallery-item">
                        <img src="https://res.cloudinary.com/mohwa/image/upload/v1608464014/albumcovers/prodigal_z70has.png" alt="digital art" class="img-fluid mx-auto">
                        <figcaption>
                          <div class="discographylist">
                            <ol>
                              <li>Introversion</li>
                              <li>Vicious cycle</li>
                              <li>Chronic relapse</li>
                              <li>Narcissist</li>
                            </ol><span>prodigal EP (Coming 2021)</span>
                          </div>
                        </figcaption>
                      </figure>
                      </a>
                    <a href="https://res.cloudinary.com/mohwa/image/upload/v1608464709/albumcovers/monkey_g3a1sk.jpg">
                    <figure class="effect-honey tm-gallery-item">
                      <img src="https://res.cloudinary.com/mohwa/image/upload/v1608464709/albumcovers/monkey_g3a1sk.jpg" alt="dsfdsds" class="img-fluid mx-auto">
                        <figcaption>
                          <div class="discographylist">
                            <ol>
                              <li>Monkey Wizard</li>
                            </ol><span>SINGLE (coming 2021)</span>
                          </div>
                      </figcaption>
                    </figure>
                    </a>
                    <a href="https://res.cloudinary.com/mohwa/image/upload/v1608464713/albumcovers/random_epzjln.jpg">
                      <figure class="effect-honey tm-gallery-item">
                        <img src="https://res.cloudinary.com/mohwa/image/upload/v1608464713/albumcovers/random_epzjln.jpg" alt="ddsds" class="img-fluid mx-auto">
                        <figcaption>
                          <div class="discographylist">
                            <ol>
                              <li>untitled</li>
                            </ol><span>untitled SINGLE (coming 2021)</span>
                          </div>
                        </figcaption>
                      </figure>
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gallerysubsection1" id="CLIPS">
          <div class="container tm-container-gallery">
            <div class="row">
              <div class="text-center col-12 tm-content-box">
                <h3>VIDEOS</h3>
                <p class="mx-auto tm-section-desc text-center gallerytext">Influences</p>
              <article class="video">
                <figure>
                  <a class="fancybox fancybox.iframe" href="https://www.youtube.com/embed/0dRo5Kbgx6c">
                  <img class="videoThumb" src="images/youtube/yt_icon_rgb.png"></a>
                </figure>
                <h2 class="videoTitle">Black Skirts</h2>
              </article>
              <article class="video">
              <figure>
                <a class="fancybox fancybox.iframe" href="https://www.youtube.com/embed/hn10okvX19E">
                <img class="videoThumb" src="images/youtube/yt_icon_rgb.png"></a>
              </figure>
              <h2 class="videoTitle">Estas Tonne</h2>
            </article>
            <article class="video">
              <figure>
                <a class="fancybox fancybox.iframe" href="https://www.youtube.com/embed/TQ1eHtdVQPQ">
                <img class="videoThumb" src="images/youtube/yt_icon_rgb.png"></a>
              </figure>
              <h2 class="videoTitle">Opal Ocean</h2>
            </article>
            <article class="video">
            <figure>
              <a class="fancybox fancybox.iframe" href="https://www.youtube.com/embed/VgvaEHbeY2k">
              <img class="videoThumb" src="images/youtube/yt_icon_rgb.png"></a>
            </figure>
            <h2 class="videoTitle">Rodrigo y Gabriela</h2>
          </article>
            </div>
          </div>
        </div><!-- row ending -->
      </div>
    <!-- within page navigation -->
  </section>

  <section id="SHOP" class="text-white tm-font-big">
  <div class="cart-widget">
    <a class="ec-cart-widget">
      <script data-cfasync="false" src="https://app.ecwid.com/script.js?32131111&data_platform=code&data_date=2020-06-27"></script>
      <script>Ecwid.init();</script>
    </a>
  </div>
  <div class="container tm-testimonials-content">
    <div class="row">
      <div class="col-lg-12 tm-content-box">
        <h2 class="text-white text-center mb-4">SHOP</h2>
      </div>
    </div>
  </div>
  <div class="custom_shop">
    <div id="my-store-32131111"></div>
    <div>
      <script data-cfasync="false" src="https://app.ecwid.com/script.js?32131111&data_platform=code&data_date=2020-06-27"></script><script> xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","id=my-store-32131111");</script>
    </div>
  </div>
  </section>
</body>