<head>
    <title>error</title>
    <link rel="stylesheet" href="../css/login.css" />
  </head>
<body>
<Section id="blogpage" class="container-fluid">
    <br>
    <div class="h-100 row align-items-center">
        <div class="col">
            <h1 class="text-center text-xl">You don't have permission to access this resource</h1>
        </div>
    </div>
</Section>
</body>