<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mohwa | credits</title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap" rel="stylesheet" type="text/css">
</head>
<body>
    <section id="Credits">
        <h1>Credits</h1>
        <div id="link_bar">
            <p class="instalink">
                <a href="https://www.instagram.com/beekkkkkkaaaa_/" target="_blank"> @beekkkkkkaaaa_</a>
                <a href="https://www.instagram.com/sarahhongart/" target="_blank">@sarahhongart</a>
            </p>
        </div>
      <div>
        <table class="table2" style="width:100%">
          <tr>
            <th><strong>Artwork</strong></th>
            <th><strong>Artist</strong></th>
          </tr>
          <tr>
            <td>read her face. EP cover art</td>
            <td>@beekkkkkkaaaa_</td>
          </tr>
          <tr>
            <td>she grows drugs. EP cover art</td>
            <td>@beekkkkkkaaaa_</td>
          </tr>
          <tr>
            <td>prodigal EP cover art</td>
            <td>@sarahhongart</td>
          </tr>
          <tr>
            <td>"DISCOVER" website section background art</td>
            <td>@beekkkkkkaaaa_</td>
          </tr>
        </table>
      </div>
    </section>    
</body>
</html>