<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mohwa | sitemap</title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap" rel="stylesheet" type="text/css">
</head>
<body>  
  <section id="sitemap">
    <div>
      <h1>SITEMAP</h1>
      <ul>
        <li><a href="/">Main page</a></li>
         <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/#ABOUT">Discover</a></li>
            <li><a href="/#MUSIC">Music</a></li>
            <li><a href="/#GALLERY">Gallery</a> </li>
            <li><a href="/#SHOP">Shop</a></li>
          </ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/bookings">Bookings</a></li>
        <li><a href="/credits">Credits</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
        <li><a href="/terms">Terms and Conditions</a></li>
        <li><a href="/returns">Returns and Refund Policy</a></li>
    </ul>
    </div>
  </section>
  </body>
</html>