<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Mohwa | contact</title>
</head>

<body>
  <nav class="navbar navbar-expand-md fixed-tm-navbar">
    <div class="container-fluid">
        <a href="/"><button accesskey="h" class="homebutton">
            <img src="images/logo.png" class="img-fluid logo-image" alt="MOHWA logo">
        </button></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="/">HOME</a>
          </li>
          <li class="nav-item">
              <a class="nav-link tm-nav-link" href="../../blog">BLOG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="../../visuals">VISUALS</a>
          </li>
          <li class="nav-item">
              <a class="nav-link tm-nav-link currenttab" href="/contact">CONTACT</a>
          </li>
        </ul>
        </div>
    </div>
  </nav>
    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2">
      <div class="container tm-container-contact">
        <div class="row">
          <div class="text-center col-12">
              <h2 class="tm-section-title mb-4">CONTACT</h2>
              <p class="mb-5">Submit the form below for any enquiries e.g. lessons, performances, shop and other. To make a booking, use the <a href="/bookings">bookings form</a></p>
          </div>
          <div class="col-sm-12 col-md-12 animate__animated animate__bounceInLeft">
            <form action="/contact" method="post" id="g-recaptcha-response" action="send">
              <input id="name" name="name" type="text" placeholder="Your Name" class="tm-input" required />
              <input id="email" name="email" type="email" placeholder="Your Email" class="tm-input" required />
              <select id="enquiry" name="enquiry" class="tm-input" required>
                  <option disabled selected value> -- select an enquiry -- </option>
                  <option value="Lessons">Lessons</option>
                  <option value="Performances">Performances</option>
                  <option value="Shop">Shop</option>
                  <option value="Other">Other</option>
              </select>
              <textarea id="message" name="message" rows="8" placeholder="Message" class="tm-input" required></textarea>
                <title>reCAPTCHA demo: Explicit render after an onload callback</title>
                <script type="text/javascript">
                  var onloadCallback = function() {
                    grecaptcha.render('html_element', {
                      'sitekey' : '6LesDbYZAAAAAH3zVJTnxv3wN3zUj7dYkLYg9Syc'
                    });
                  };
                </script>
              <div id="html_element"></div>
              <br>
              <input id="submit" type="submit" value="Submit" class="contact-button">
            </form>
            <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                async defer>
            </script>
          </div>
        </div><!-- row ending -->
      </div>
    </section>

    <script src="vendor/jquery/jquery-3.5.1.min.js"></script>
    <script>
    $("form").submit(function(event) {
      var recaptcha = $("#g-recaptcha-response").val();
      if (recaptcha === "") {
         event.preventDefault();
         alert("Please check the recaptcha");
          }
      });
   </script>
</body>